@import "../../mixin";

.nuv__wrapper {
  width: 100%;
  background-color: $bg;
  margin: 0px 0px 30px 0px;

  &-title {
    width: 1100px;
    margin: auto;
    user-select: none;
    background-color: $bg;
    height: 150px;
    line-height: 150px;

    @include mq(tab) {
      text-align: center;
      height: 200px;
      line-height: 200px;
    }
  }
}
