---

import { Image } from 'astro:assets';
import "../List/List.css"
const {url,image,text} = Astro.props


---



    <div class="card_item">
      <a href={url} target="_blank">
      <Image src={image} alt=""/></a>
      <p class="card_item-text">{text}</p>
      </div>


