* {
  padding: 0;
  margin: 0;
}

.card_item {
  list-style: none;
  width: 100%;
}

.card_item-text {
  list-style: none;
  width: 100%;
  font-size: 14px;
}

img {
  width: 100%;
  height: 200px;
  cursor: pointer;
  object-fit: cover;
}
