---

import { Image } from 'astro:assets';
import "../List/List.scss"
const {url,image,content} = Astro.props


---



    <div class="card__item">
      <a href={url} target="_blank">
      <Image src={image} alt=""/></a>
      <p class="card__item-text">{content}</p>
      </div>


