.card_wrapper {
  background-color: #fff;
  width: 1000px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #c8c3c3;
  padding: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
}
