---

const {title,text} = Astro.props;
---

<div class="news_wrapper">
  <p class="news_tite">{title}</p>
  <p class="news_text"><a href="">{text}</a></p>
</div>

<style>

.news_wrapper{
  padding: 10px;
  width: 1100px;
  margin: auto;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.166);
  cursor: pointer;
}

.news_wrapper:hover{
 opacity: 0.8;
 background-color: rgb(79, 79, 223)
}

.news_wrapper:nth-child(5){
  border-bottom: 1px solid rgba(255, 255, 255, 0.166);
}

.news_tite{
  background-color: rgb(142, 135, 235);
  color: #fff;
  padding: 2px 50px;
  border-radius: 2px;
}

.news_text{

 padding-left: 40px;

}

a{
  color: #fff;
}



</style>