---

import { Image } from 'astro:assets';
const {url,image,text} = Astro.props

---



    <div class="card_item">
      <a href={url} target="_blank">
      <Image src={image} alt=""/></a>
      <p class="card_item-text">{text}</p>
      </div>





<style>

.card_item{
list-style:none;
width: 100%;
}

.card_item-text{
list-style:none;
width:100%;
font-size:14px;
}

img{
  width:100%;
  height: 200px;
  cursor: pointer;
  object-fit:cover;
}








  </style>