---
import { Image } from 'astro:assets';
import myImage from "../Images/stasapu.png";

const ListItems = [
  {
    image :"../Images/stasapu.png",
    text: "スタディサプリ ENGLISHのサービス（個人の方・団体会員の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。"
}, 
{
    image :"../Images/stasapu.png",
    text: "スタディサプリ ENGLISHのサービス（企業の方・学校法人の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。"
}, 
{
    image :"../Images/stasapu.png",
    text: "スタディサプリENGLISH for KIDSに関するお問い合わせ・ご意見については、こちらをご確認ください"
}, 
{
    image :"../Images/stasapu.png",
    text: "リクルート ID、ログイン・パスワード忘れ、スタディサプリENGLISH以外でたまる・つかえるポイントについてはこちらをご確認ください。"
}
]
---

<div class="card_grid">
  {ListItems.map((item)=>(
    <div class="card_item">
      <Image src={myImage} alt="pic"/>
      <p class="card_item-text">{item.text}</p>
      </div>
    
  ))}	
</div>



<style>

.card_item{
list-style:none;
width: 100%;
}

.card_item-text{
list-style:none;
width:100%;
font-size:14px;
}

img{
  width:100%;
  height: 100px;
}

.card_grid{
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns:400px 400px;
  grid-gap:30px;
  row-gap:10px;
  justify-content: center;
}







  </style>