---
import Text from "./Text";
---


<div class="nuv_wrapper">
  <div class="nuv_title">
    <Text client:load />
  </div>
</div>


<style>



  .nuv_wrapper{
    width: 100%;
    background-color: rgb(69, 69, 199);
    margin: 0px 0px 30px 0px;
  }

  .nuv_title{
    width: 1100px;
    margin: auto;
    user-select: none;
  }
</style>