<div class="nuv_wrapper">
  <h1 class="nuv_title">よくある質問・お問い合わせ</h1>
</div>


<style>

*{
  padding: 0;
  margin: 0;
}


  .nuv_wrapper{
    width: 100%;
    background-color: rgb(69, 69, 199);
    height:150px;
    margin-bottom: 80px;

  }

  .nuv_title{
    font-size: 24px;
    color: #fff;
    width: 1000px;
    margin: auto;
    line-height: 150px;
  }
</style>