.info_wrapper {
  margin: 0;
  width: 100%;
  background-color: rgb(69, 69, 199);
  padding-bottom: 100px;
}

.info_title {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.651);
  text-align: center;
  height: 120px;
  line-height: 120px;
}
