---
import "../News/News.scss"
import Info from "../Info/Info.jsx"



const NewsItems = [
  {
    title:"重要",
    text:"日常英会話コースリニューアルに伴う、『スタディサプリENGLISH 日常英会話コース（旧アプリ）』終了のお知らせ"
  },  
  {
    title:"お知らせ",
    text:"年末年始期間中の対応について"
  },
  {
    title:"速報",
    text:"スタディサプリ10周年記念!特設サイト公開中"
  },
  {
    title:"重要",
    text:"有料会員権利付与漏れのお詫びとご返金のお知らせ"
  },
  {
    title:"お知らせ",
    text:"有料会員権利付与漏れのお詫びとご返金のお知らせ"
  },
  {
    title:"その他",
    text:"有料会員権利付与漏れのお詫びとご返金のお知らせ"
  },
  {
    title:"ご挨拶",
    text:"有料会員権利付与漏れのお詫びとご返金のお知らせ"
  },
  {
    title:"速報",
    text:"有料会員権利付与漏れのお詫びとご返金のお知らせ"
  },
]

---
<div class="info__wrapper">
<p class="info__wrapper-title">INFORMATION</p>
{NewsItems.map((item)=>(
 <Info title={item.title} text={item.text}client:load/>
))}

</div>
