@import "../../mixin";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: $bg;
}

.header__wrapper {
  width: 1200px;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: $bg;
  @include mq(tab) {
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }

  &-title {
    margin-left: 50px;
    font-size: 22px;

    @include mq(tab) {
      font-size: 50px;
      padding-bottom: 20px;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &-list {
    list-style: none;
    display: flex;
    margin-right: 50px;
    font-size: 18px;
    @include mq(tab) {
      font-size: 24px;
      margin-right: 0;
    }

    &-item {
      margin-left: 50px;
    }
  }
}
