---
import "../Link/Oshirase.scss"
---

<div class="main__wrapper">
  <h1 class="main__wrapper-title">
    年末年始の休業期間について
  </h1>
  <div class="text__wrapper">
    <h3 class="text__wrapper-title">
      年末年始の休業期間は以下の通りです。
     </h3>
     <p class="text__wrapper-text">
      下記の期間、コーチングサービスが停止となるため、チャットと音声面談の対応、パーソナルコーチプランへの新規申込を一時停止させていただきます。再開は2024年1月4日（木）以降になります。
お客様からコーチに対しては、サービス停止期間中もチャット・学習記録をお送りいただけます。

下記の期間、コーチングサービスが停止となるため、チャットと音声面談の対応、パーソナルコーチプランへの新規申込を一時停止させていただきます。再開は2024年1月4日（木）以降になります。
お客様からコーチに対しては、サービス停止期間中もチャット・学習記録をお送りいただけます。

下記の期間、コーチングサービスが停止となるため、チャットと音声面談の対応、パーソナルコーチプランへの新規申込を一時停止させていただきます。再開は2024年1月4日（木）以降になります。
お客様からコーチに対しては、サービス停止期間中もチャット・学習記録をお送りいただけます。
下記の期間、コーチングサービスが停止となるため、チャットと音声面談の対応、パーソナルコーチプランへの新規申込を一時停止させていただきます。再開は2024年1月4日（木）以降になります。
お客様からコーチに対しては、サービス停止期間中もチャット・学習記録をお送りいただけます。



    </p>
     <p class="text__wrapper-text-red">
       休業期間：2023年12月28日（木）～ 2024年1月3日（水）
       <br/>
       営業再開日： 2024年1月4日（金）
     </p>
  </div>

  <div class="text__wrapper">
    <h3 class="text__wrapper-title">
      年末年始の休業期間は以下の通りです。
     </h3>
     <p class="text__wrapper-text">
      下記の期間、コーチングサービスが停止となるため、チャットと音声面談の対応、パーソナルコーチプランへの新規申込を一時停止させていただきます。再開は2024年1月4日（木）以降になります。
お客様からコーチに対しては、サービス停止期間中もチャット・学習記録をお送りいただけます。

下記の期間、コーチングサービスが停止となるため、チャットと音声面談の対応、パーソナルコーチプランへの新規申込を一時停止させていただきます。再開は2024年1月4日（木）以降になります。
お客様からコーチに対しては、サービス停止期間中もチャット・学習記録をお送りいただけます。

下記の期間、コーチングサービスが停止となるため、チャットと音声面談の対応、パーソナルコーチプランへの新規申込を一時停止させていただきます。再開は2024年1月4日（木）以降になります。
お客様からコーチに対しては、サービス停止期間中もチャット・学習記録をお送りいただけます。
下記の期間、コーチングサービスが停止となるため、チャットと音声面談の対応、パーソナルコーチプランへの新規申込を一時停止させていただきます。再開は2024年1月4日（木）以降になります。
お客様からコーチに対しては、サービス停止期間中もチャット・学習記録をお送りいただけます。



    </p>
     <p class="text__wrapper-text-red">
       休業期間：2023年12月28日（木）～ 2024年1月3日（水）
       <br/>
       営業再開日： 2024年1月4日（金）
     </p>
  </div>
</div>